<!doctype html>
<html th:lang="${#locale.toLanguageTag}" xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="favorite">
    <th:block th:fragment="bottom">
      <button
        class="joe_detail__agree"
        type="button"
        aria-pressed="false"
        aria-label="点赞"
        title="点赞"
      >
        <span class="agree">
          <span class="icon">
            <i class="joe-font joe-icon-like icon-like"></i>
            <i class="joe-font joe-icon-like-fill icon-unlike"></i>
          </span>
          <span class="nums">[[${post.stats.upvote}]]</span>
        </span>
      </button>
    </th:block>
    <th:block th:fragment="aside">
      <li>
        <button
          class="post-operate-like"
          type="button"
          aria-pressed="false"
          aria-label="点赞"
          title="点赞"
        >
          <i class="joe-font joe-icon-dianzan icon-like"></i>
          <i class="joe-font joe-icon-dianzan-fill icon-unlike"></i>
          <span class="nums" df="" th:classappend="${post.stats.upvote gt 0}? 'visible'"></span>
        </button>
      </li>
    </th:block>
  </th:block>
</html>
